body {
  margin: 0;
  font-family:"Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;

}

code {
  font-family: "Courier New";
}

p{
    color: white;
    font-size: 30px
}
